.env

# Entornos e intermedios de Python
__pycache__/
*.pyc
venv/
env/

# Archivos de datos locales (seguridad)
*.csv
*.json
*.env
*.ipynb
*.html
.ipynb_checkpoints/
CONTEXTO_PROYECTO.md
CONTEXTO_WIF.md
ERROR_LOG.md
STATUS_LOG.md
c1.png
c2.png
c3.png